.contact-backround-banner{
    background-image: url(../images/contact-backround.webp);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 65vh;
}

.d-flex-icon{
    display: flex;
    justify-content: flex-start;
}

.contact-left{
    padding: 30px 50px 30px 20px;
    background: #15CDCB;
    position: relative;
    bottom: 102px;
    border-radius: 10px;
}

.contact-email{
    margin-bottom: 100px;
}

.first-bg{
    background: #DAFFFC;
}

.contact-form textarea,
.contact-form input {
    padding: 15px;
    border: unset;
    color: #333 !important;
    border-bottom: 1px solid #15CDCB;
    border-radius: 0;
}


.contact-form h3{
    font-size: 28px !important;
}

.btn-primary{
    background: #15CDCB;
    color: #fff;
    border-color: unset;
    padding: 10px 40px;
    border: unset;
}

.form-control:focus{
    box-shadow: unset;
}

.contact-btn button:hover{
    background: #000000;
    color: #fff;
}

.contact-form form{
    box-shadow: 0rem 0.5rem 2rem 0rem rgba(35, 44, 59, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.foooter-social-icon li img{
    transition: transform 0.5s;
}

.foooter-social-icon li img:hover{
    transform: rotate(90deg);
}




@media(min-width:997px){
    .contact-left{
        padding: 0px 80px 30px 20px;
        background: #15CDCB;
        width: 85%;
    }

    .d-flex-contact{
        display: flex;
        justify-content: center;
    }

    .contact-form{
        width: 80%;
        position: relative;
        top: 100px;
    }

    .contact-form form{
        position: relative;
        bottom: 40px;
    }

    
}

@media(max-width:998px){
    .contact-align{
        display: flex;
        justify-content: center;
    }

    .contact-form-section{
        padding-bottom: 30px;
    }
    .contact-form textarea,
    .contact-form input {
    padding: 16px;
}
}