.sub-heading{
    color:#fff;
    font-family: 'ubuntu', sans-serif;
    font-size:28px;
    font-weight: 600;
    text-align: center;
}

.master-expert-heading {
 text-align: center;
}

.underline{
  width: 80px;
  height: 3px;
  border-radius:30px;
  background-color:var(--theme);
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
}

.master-expert-desc {
 margin-top:20px;
 margin-left: auto;
 margin-right: auto;
 width:80%;
 /* height:145px; */
 text-align: center;
 }


 .expert-course-list >ul li{
  display: inline;
  margin-left:30px;
  color:black;
 }
 
 .expert-course-list >ul li a{
  color:black;
 }

 .expert-course-list ul li a:hover {
  color:var(--theme);
 }




 .submit-form{
  border:1px solid var(--theme);
  border-radius:10px;
  background-color: #fff;
  box-shadow: 0 0 5px #333;
  position:sticky; 
  top:120px;
  padding:30px;
 }

 .form-control{
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
 }

 .contact-btn>button {
  background-color: var(--theme);
 }

 .expert-course-details{
  border:1px solid #3333;
  padding: 40px;
 }

 .dashed{
  width:40px;
  height:3px;
  border:1px solid var(--theme);
  background-color: var(--theme);
 }


 .article-one h4{
font-weight: bold;
color: black;
 }

 .dashed{
margin-bottom: 20px;
 }

 .article-one>p{
  font-weight: bold;
  color: black;
 }

  .article-one .sub-details{
  font-size:16px;
  font-weight:100;
 }

 .article-two >h4 , h5{
  font-weight: bold;
  color: black;
   }

   
  .list-main-course{
    margin-left: 28px;
  }


  .list-main-course li::before{
    /* list-style:initial; */
    list-style-type:none;
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
  }

   
  .list-main-course-bullet{
    margin-left: 30px; /*62px*/
  }

  .list-main-course-bullet li::before{
    list-style-type:none; /* list-style:initial;*/
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    padding: 0 10px 0 0;
  }

  .title-in-detail{
    font-size:16px;
    /* font-weight: 600; */
  }

 .article-three >h4{
    font-weight: bold;
    color: black;
    /* margin-left:18px; */
  }

  
 .article-three > .subtitle-heading{
  font-weight: bold;
  color: black;
  font-size: 14px;
  margin-left: 30px;
}

  .article-three >h5{
    font-weight: bold;
    color: black;
  }

 .ratingstar-list{
  margin-left:10px;
 }

  .ratingstar-list ul li{
    display: inline;
  }


  .course-rating-star{
    width:15px;
    height:15px;
  }

  .review-box{
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  
  .review-sec>h4{
    font-weight: bold;
    color: black; 
  }

  .review-box>p{
    font-weight: bold;
    color: black; 
  }

  .review-para{
    font-size:16px;
    /* font-weight: 600; */
    color:black;
  }

  .accordion-main-content{
    border: none;
  }

  .expert-course-list ul li a{
 font-weight: 600;
  }

.course-navbar  .nav-link{
  border: unset;
  white-space:nowrap;
}
.course-navbar  .nav-link.active {
 border: none;
 color:var(--theme);
 border-bottom: 2px solid var(--theme);
}

/* .nav-tabs .nav-link:hover {
  outline: 0 0 2px  solid var(--theme);
} */
.course-navbar .nav-link:focus-visible {
  border: none;
}

.course-navbar{
flex-wrap: nowrap;
overflow:auto;
}

.course-navbar::-webkit-scrollbar{
  width:0;
  }


  /* .expert-course-left{
    margin-top:20px;
  } */



  
  


