@font-face {
  font-family: "ubuntu m";
  src: url("../assets/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "ubuntu r";
  src: url("../assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu b";
  src: url("../assets/fonts/Ubuntu-Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: 'ubuntu', sans-serif;
    font-family: "ubuntu r", sans-serif, system-ui;
  }


  h1,h2,h3,h4,h5,h6,a,p{
    color: #333333;
  }

  li{
    list-style: none;
  }


  /* img {
    max-width: 100%;
  } */

  /* Testing */
  .carousel-profile > img{
    max-width: 100%;
  }

  h1{
    font-size:58px;
    line-height: 72px;

  }

  h2 {
    font-size: 46px !important;
    line-height: 60px !important;
    letter-spacing: 3px;
  }

  :root {
    --theme: #52AA32;
    --white: #ffffff;
  }

  .new-clr{
    color: #52AA32 !important;
  }

  .footer-1{
    background: #001E00;
  }

  .text-white{
    color:var(--white);
  }

  .heading .text-primary{
    color:var(--theme)!important;
    font-size: 58px;
  }

  .text-clr{
    color: #7D858C !important;
  }

  .text-bold{
    font-weight: 600 !important;
  }

  span{
    font-size: 20px;
  }

  p{
    font-size: 17px;
  }


  h3 {
    font-size: 24px !important;
    font-weight: 600 !important;
  }

  h4{
    font-size: 16px;
    margin-bottom: 0;
  }
 
  section{
    padding: 70px 0;
  }

ul{
  padding-left: 0;
}


.text-gray{
  color: #333333;
}

.lh-2{
  line-height: 35px;
}

a{
  text-decoration: unset !important;
}

.text-center{
  text-align: center !important;
}

.text-justify{
  text-align: justify !important;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse-btn{
  justify-content: flex-end;
}

.navbar-collapse-btn .nav-item a{
  font-size: 17px;
  font-weight: 600;
  color: #070C0F;
}

.navbar-collapse-btn .nav-item a:hover{
  color:var(--theme);
}

::placeholder{
  color: #fff;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color:var(--theme);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:focus:not(:focus-visible){
  box-shadow: unset;
}

.form-section .input-field{
  color: #fff;
}


.header-btn button{
  padding: 10px 15px;
  background:var(--theme);
  border-radius: 5px;
  border: unset;
  color:var(--white);
}


.header-menus a.nav-link.active {
  color: var(--theme);
}
.navbar-collapse-btn .nav-btn a{
  color: var(--white);
}

.header-menus{
  background: var(--white);
  width: 100%;
  position: sticky;
  z-index: 99;
  border-bottom: 2px solid var(--theme);
  top: 0;
  height: 96px;
}

.year-content span{
  font-size: 16px;
}

#about-sec,
#course-sec{
  /* scroll-margin-top: 40px; */
}

.course-details{
  padding:20px;
  margin:10px;
}


.backround-banner-1{
  /* background-image: url(../images/banner-bg.webp); */
  background-image: url(../images/new-bg-ban.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* Testing : 80vh*/
  min-height: 80vh; 
  width: 100%;
  margin-top: -96px;
  padding-top: 96px;
}

/* .backround-banner-1{
  background-image: url(../images/new-bg-ban.png);
} */

.form-section .input-field{
  padding: 10px 30px;
  border: 1px solid var(--white);
  border-radius: 5px;
  color: var(--white);
  background: transparent;
}

.year button{
  padding: 0 20px;
}

.banner-btn{
  gap: 20px;
}

.b-clr button,
.sub-btn{
  border-radius: 5px;
  color: var(--white);
  background:var(--theme);
  border:unset;
  padding: 10px 25px;
}

.sub-btn{
  margin-left: 16px;
}

.back-clr-1{
  background: #F2F7F2 !important;
}



.course-btn a:hover{
  background: #8C2F39;
  transform: scale(1.05) translateY(-2px);
  transition: all ease 0.2s;
  color: var(--white);
}

.course-btn-2 a:hover{
  background:#FBC84B;
  transform: scale(1.05) translateY(-2px);
  transition: all ease 0.2s;
  color: var(--white); 
}

.course-btn-3 a:hover{
  background:#E94E52;
  transform: scale(1.05) translateY(-2px);
  transition: all ease 0.2s;
  color: var(--white);
}

.know-more a:hover,
.banner-btn button:hover,
.sub-btn:hover,
.thankyou a:hover{
  background:  #000000; 
  transform: scale(1.05) translateY(-2px);
  transition: all ease 0.2s;
  color: var(--white);
}

.sub-btn:hover{
  outline: 1px solid var(--white);
}

.header-btn button:hover{
  background:  #000000; 
  transform: scale(1.05) translateY(-2px);
  transition: all ease 0.2s;
}

.section-2{
  background-image: url(../images/section-2-backround.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section-2-1{
  background-image: url(../images/section-wave-2.svg);
}

.back-clr{
  background: #E0F9F5;
  border-radius: 5px;
  padding: 10px;
  height: 80px;
}

.year-content h4{
  font-size: 20px;
  font-weight: 600;
}

.box-backround{
  background-image: url(../images/wave-bg-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.box-backround-1{
  background-image: url(../images/wave-new-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.box-heading{
  background: #8C2F39;
  padding: 25px;
  min-width: 95%;
  border-radius: 15px;
  position: relative;
}

.clr-2,
.course-btn-2 a{
  background: #0077B6 !important;
  color:#fff;
}

.clr-3,
.course-btn-3 a{
  background: #FB6F92 !important;
  color:#fff;
}

.clr-4,
.course-btn-4 a{
  background: #087E8B !important;
  color:#fff;
}


.course-list{
  padding-left: 0 !important;
} 

.course-list li{
  font-size: 16px;
  border-bottom: 1px solid #f7f1f1;
  padding-bottom: 10px;
  margin-bottom: 15px; 
}

.form-control .custom-select{
  border: unset;
  width: 100%;
  background: var(--white);
}

.form-control .custom-select:focus-visible{
  outline: unset;
}


.course-details-inner{
  padding: 20px;
  background: var(--white);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 90%;
  height: 100%;
}

.modal-header h3{
  font-size: 26px !important;
}

.ul-section{
  margin-top: -20px;
  height: 407px;
}

.course-btn{
  margin-top: -15px;
} 
.course-btn a{
  padding: 10px 25px;
  background: #8C2F39;
  border-radius: 5px;
  color: #fff;
}


.profile-section{
  background: var(--theme);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.profile-section-1{
  background: #F2F7F2 !important;
  border: 3px solid #52AA32;
}

.know-more-1 a{
  background: #428828 !important;
  color: #fff !important;
}


.email-input{
  background: transparent;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid var(--white);
  color: var(--white);
}


.faq-sec {
  background: url(../images/faq-backround.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.faq-sec button{
  border: 1px solid var(--theme);
  border-radius: 20px !important;
  margin-bottom: 10px;
}

.faq-sec .accordion-button{
  background: var(--theme);
  color: var(--white);
  border-color: unset !important;
  box-shadow:unset;
}

.faq-sec .accordion-button.collapsed{
  background: transparent;
  border-color:var(--theme) !important;
  color: #000;
}

.faq-sec .accordion-item{
  border: unset;
}

.faq-sec .accordion-flush .accordion-collapse{
  border: 1px solid var(--theme);
  border-radius: 20px;
  margin-bottom: 10px;
}

.faq-sec .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../images/arrow-down-circle-traderz.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/arrow-down-circle-white.svg);
  transform: rotate(-180deg);
}



#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.testi-des{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}

.testimonial-right{
  padding: 20px 15px; 
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.testimonial-right-1{
  border: 5px solid #428828;
}

.testides-name h4{
    color: #15CDCB !important;
    font-size: 16px;
}

.Rating-star{
  background: var(--theme);
  padding: 5px 10px;
  position: absolute;
  border-radius: 5px;
  display: flex;
  right: 74px;
  height: 36px;
}

.rating-star-1{
  display: flex;
}

.foooter-social-icon{
  gap: 10px;
  margin-bottom: 0;
}

.footer{
  border-top: 2px solid #a3a3a3;
  padding-top: 15px;
}

.know-more a{
  padding: 10px 30px;
  background: var(--white);
  color: var(--theme);
  border-radius: 5px;
}

.thankyou a{
  background: var(--theme);
  color: var(--white);
  border-radius: 5px;
  padding: 10px 15px;
}

.tesimonial-right-span{
  font-size: 22px;
  font-weight: 600;
}

.box-inner{
  width: 100%;
}

.footer span{
  font-size: 17px;
}


.foooter-social-icon li img{
  transition: transform 0.5s;
}

.foooter-social-icon li img:hover{
  transform: rotate(90deg);
}

.course-span{
  font-size: 16px;
}

.popup-section .modal-header {
  border-bottom: unset;
}

.popup-section .modal-content{
  padding: 20px 20px;
  border-radius: 15px;
}

.popup-section .form-control{
  border: unset;
  border-bottom: 1px solid var(--theme);
  border-radius: 0;
}

.popup-section .modal{
  overflow-y: hidden;
}

.condition{
  color: red;
}

.form-control-1{
  padding-left: 0;
}
.modal-content .btn-close{
  position: absolute;
  right: -15px;
  background-color: var(--white);
  top: -20px;
  padding: 12px;
  border-radius: 20px;
  opacity: 100%;

}

.popup-section .modal-header{
  justify-content: center;
  padding: 10px;
}


button#enquiryButton:disabled{
  opacity: 0.5;
  pointer-events: none;
}


.custom-select option{
  color: #212529;
}


.modal-content label{
  font-weight: 600;
}

.thanyou-section{
  height: calc(100vh - 150px);
}

.thankyou h1{
  font-size: 52px;
}

.error-msg{
  visibility: hidden;
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

.modal-dialog {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
}

.carousel-inner{
  height: 100%;
}

.tesimonial-sec{
  /* background: url(../images/testi-bg.webp); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Testimonial */
.carousel-slide{
  background-image: url(../images/testimonial-bg-new.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(243, 243, 243, 0.6);
  padding: 20px;
}
/* Testing */
.carousel-slide .carousel{
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 400px;
  overflow: hidden;
}
.carousel-slide .carousel .carousel-control-prev,
.carousel-slide .carousel .carousel-control-next{
  width: fit-content;
  height: fit-content;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  background-color: #FFF;
  border-radius: 50%;
  padding: 10px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(82, 170, 50, 0.1);
}
.carousel-slide .carousel .carousel-control-prev span,
.carousel-slide .carousel .carousel-control-next span{
  filter: invert(1);
  width: 20px;
  height: 20px;
}
/* Testing */
.carousel-slider{
  display: grid !important;
  grid-template-columns: 1fr 300px;
  gap: 30px;
  padding: 0 40px;
}
.carousel-profile{
  display: flex;
  align-items: center;
  max-width: 300px;
  margin: auto;
}
/* Testing */
.carousel-header img{
  width: 100px;
  margin-bottom:20px;
  /* margin-left:55px; */
}
.carousel-info{
  display: flex;
  align-items: baseline;
  gap: 0 16px;
  padding-bottom: 10px;
  padding-left: 56px;
  flex-wrap: wrap;
}
.carousel-info .carousel-rating{
  margin-left: auto;
}
/* Testing */
.carousel-info .carousel-rating .star{
  display: flex;
  align-items: center;
  padding-left:8px;
}
/* Testing */
.carousel-info .carousel-rating img{
  min-width: 30px;
  min-width: 30px;
  max-height: 30px;
  max-height: 30px;
  aspect-ratio: 1;
}
/* Testing */
.carousel-info .carousel-user-name p{
  font-size: 24px;
  margin-left: 10px; 
  font-weight: 600;
  white-space: nowrap;
}
.carousel-info .carousel-user-role p{
  font-weight: 600;
  font-size: 14px;
  color: #FE1C04;
  margin: 0;
  margin-left:10px;
  white-space: nowrap;
}
/* Testing */
.carousel-details{
  padding-left: 56px;
}

.carousel-details h3{
  font-size: 32px !important;
  margin: 0 0 10px;
  font-weight: 600 !important;
}
/* Test */
.carousel-details p{
  font-size: 16px !important;
  margin-left:10px;
  text-align: justify;
}
.carousel-close-quote{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.carousel-close-quote img{
  width: 50px;
}

.testimonial-section{
  overflow: hidden;
}


.space {
  padding-top: 70px;
}
/* 
.extra{
  height:10px;
} */

.spy-element{
  height: 65px;
}

/* Test */
.home-dropdown-menu{
  border-color:var(--theme);
}

.book-icon:hover{
color: var(--theme);
}

/* Testing */
.dropdown:hover >.dropdown-menu{
  display:block;
}

/* testing */
.main-icon{
  text-align: center;
}






@media (max-width: 1400px){
  .backround-banner{
    min-height: 90vh;
  }

}



@media(min-width: 990px){
  .deepak-profile{
    position: absolute;
    bottom: 0;
  }

  .testimonial-sec{
    position: relative;
    top: -260px;
  }

  .section-5{
    margin-top: 200px;
  }

  .section-4{
    background: url(../images/wave-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .section-4-1{
    background:url(../images/man-wave.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .section-5{
    height: 75vh;
  }

  
.section-5-1{
  background: url(../images/testimonial-bg.png);
}

.tesimonial-sec{
  min-height: 86vh; /*80vh*/
}



}

@media(max-width:989px){
  .reverse{
    flex-direction: column-reverse;
  }

  .banner-content{
    text-align: center;
  }

  .banner-btn {
    justify-content: center;
  }

  .test-clint-img{
    margin-top: 20px;
  }

  section{
    padding: 70px 0;
  }

  .small-d{
    margin-top: 50px;
  }

  .backround-banner{
    min-height:115vh;
  }

  .tesimonial-sec{
    height: 86vh; /*72vh*/
  }
  .carousel-slide .carousel{
    min-height: 80vh;
  }

  /* Testing */
  .bi-binoculars-fill{
    display: flex;
    flex-direction: column;
  }
}


@media (max-width:776px){
  .testimonial-right{
    height: 265px;
  }

  .tesimonial-sec{
    height: 85vh;
  }

  .section-3, .section-2{
    padding-top:20px;
   }
   .carousel-slider{
    grid-template-columns: 1fr;
    gap: 10px;
   }
   .carousel-info{
     flex-wrap: wrap;
    }
    .carousel-info .carousel-rating{
      margin: 0%;
    }
    .carousel-info .carousel-rating img{
      width: 20px;
    }
    .carousel-info .carousel-rating img{
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
      aspect-ratio: 1;
    }
    .carousel-details,
    .carousel-info{
      padding: 0;
    }
    .carousel-slide .carousel{
      min-height: 85vh;
    }
    
/* Testing */
  .section-2{
    margin-top: -30px;
  }

  .space{
    padding-top: 0px;
  }
}


@media (min-width: 778px){
  .banner-btn{
    display: flex;
    align-items: center;
  }

  .navbar-collapse-btn .navbar-nav{
    /* Testing gap:38 */
    gap: 35px; 
    align-items: center;
  }
 .section-3, .section-2{
  padding-top:20px;
 }

}
@media (max-width: 574px) {
  .header-btn {
    padding-top: 10px;
  }

  .navbar-collapse-btn {
    height: 0 !important;
    position: absolute;
    top: 96px;
    background: var(--white);
    width: 100%;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
  }

  #collapsibleNavbar.show {
    height: 270px !important;
    padding: 20px;  
  }

  .icon-menu{
    color: var(--white);
  }

  .footer{
    height: 150px;
  }

  .testimonial-right{
    height: 274px;
  }

  .tesimonial-sec{
    height: 90vh; /*80vh*/
  }
  .carousel-slide .carousel{
    min-height: 100vh;
  }

/* Testing */
  .section-2{
    margin-top: -22px;
  }

  .space{
    padding-top: 0px;
  }

  /* Testing */
  .main-icon{
    text-align:start;
  }

  .bi-binoculars-fill{
    display: inline;
  }

  .dropdown-menu{
    width:auto;
    height:120px;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
  }

  .dropdown-menu li .dropdown-item{
    font-size: 14px;
  }

}

@media(min-width:576px){
  .modal-dialog {
    max-width: 435px;
  }

  .tesimonial-sec{
    height: 90vh; /*80vh*/
  }


}


@media (max-width:449px){
  .year-content h4,
  .year-content span{
    font-size: 14px;
  }

  .back-clr{
    height: 83px;
  }

  .text-bold,
  .heading, .text-primary{
    font-size: 42px !important;
  }

  .sub-btn{
    margin-top: 10px;
  }

  /* .modal-dialog{
    top: 20%;
  } */

  .foooter-social-icon{
    margin-bottom: 10px;
  }

  .small-d{
    margin-top: 0;
  }

  .mob-bottom{
    margin-bottom: 20px;
  }

  .banner-content{
    padding: 15px 0;
  }

  .testimonial-right{
    height: 318px;
  }

  .tesimonial-sec{
    height: 94vh; /*80vh*/
  }

  .section-3{
    padding-bottom: 20px; /*Testing*/
  }

  .section-4-1 .mt-5{
    margin-top:1rem !important;/*Testing*/
  }
   
  /* Testing */
  .carousel-slide{
    padding: 0;
  }
  
  
/* Testing */
  .section-2{
    margin-top: -28px;
  }

  .space{
    padding-top: 0px;
  }

}

@media (max-width:375px){
  .testimonial-right {
    height: 372px;
  }

  .footer .social-icon{
    height: 35px;
  }

  .tesimonial-sec{
    height: 105vh; /*90vh*/
  }

  .section-2, .section-3{
    padding-top:30px; /*Testing*/
  }

  /* Testing */
  .carousel-slide{
    padding: 10px;
  } 
}
