Options +FollowSymLinks
IndexIgnore /

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
RedirectMatch 404 /\.git

RewriteBase /
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^(.*)$ /index.php [L,R=301]

RewriteCond %{HTTP_HOST} ^www.traderzarena.com [NC]

RewriteRule ^(.*)$ https://traderzarena.com/$1 [L,R=301]